.button {
    width: 145px;
    height: 40px;
    background-color: $color-blue;
    border-radius: 5%;
    border: $color-blue;

    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $color-white;
}

.btn {
    display: none;
}

.top_button {
    background: none;
    border: 2px solid $color-white;
    border-radius: 36px;

    margin-top: 3rem;
    margin-bottom: 5rem;
}

.button_add {
    text-decoration: none;
    color: $color-white;
    font-weight: 700;
    font-size: 12px;
}

.add {
    text-align: center;
}

.add_cart {
    width: 100%;
    border-radius: 0%;
}

.add_wish {
    margin-top: .5rem;
    width: 100%;
    background-color: $color-white;
    border: 1px solid $color-lightgrey;
    border-radius: 0%;
}

.button_cart {
    text-decoration: none;
    color: $color-white;
    font-weight: 700;
    font-size: 16px;
}

.button_wish {
    color: $color-black;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}